# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Nextflow work directories and caches
work/
.nextflow/
.nextflow.log*
results/

# Singularity Containers
*.sif
**/*.sif
**/**/*.sif


#Ignore insiders AI rules
.github/instructions/codacy.instructions.md
